---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import BaseCard from "./BaseCard.astro";

interface Props {
  item: CollectionEntry<"services">;
}

const { item } = Astro.props;
const { title, image, duration, price, description, highlights, bookingLink } =
  item.data;
---

<BaseCard variant="service">
  {
    image && (
      <div slot="header">
        <Image src={image} alt={title} />
      </div>
    )
  }

  <h3 class="card__title">{title}</h3>
  <p class="card__meta">{duration} | {price}</p>
  <div class="card__details">
    <p class="card__detail card__description">{description}</p>
    {
      highlights.length > 0 && (
        <ul class="card__detail card__highlights">
          {highlights.map((h) => (
            <li>{h}</li>
          ))}
        </ul>
      )
    }
  </div>

  <a slot="footer" href={bookingLink} class="btn">Book now</a>
</BaseCard>
